@use 'pix-design-tokens/typography';

.certification-information {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__block-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pix-spacing-4x);
  }

  &__buttons-row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %pix-title-xs;

    &--state {
      display: flex;
      justify-content: space-between;
    }
  }
}

.certification-information-candidate {
  .description-list > div {
    grid-template-columns: repeat(5, minmax(30%, auto));

    dd {
      grid-column: auto;
    }
  }
}

.certification-information-comments {
  &__action-buttons {
    display: flex;
    gap: var(--pix-spacing-4x);
  }
}

.certification-information-complementary {
  margin-top: var(--pix-spacing-4x);
}

.certification-information-pix-edu {
  &__container {
    display: flex;
    gap: var(--pix-spacing-4x);
    margin-top: var(--pix-spacing-6x);
  }

  &__card {
    flex: 1;
    padding: var(--pix-spacing-6x) var(--pix-spacing-2x);
    font-weight: 500;
    text-align: center;
    background-color: var(--pix-neutral-20);
    border-radius: var(--pix-spacing-2x);

    .title {
      @extend %pix-title-xxs;

      margin-bottom: var(--pix-spacing-2x);
      color: var(--pix-neutral-500);
    }

    .level {
      @extend %pix-body-m;

      color: var(--pix-neutral-900);
      font-weight: bold;
    }
  }

  &__jury-level {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    justify-content: center;
  }

  &__jury-level-editor {
    .actions {
      display: flex;
      gap: var(--pix-spacing-2x);
      align-items: center;
      justify-content: center;
      margin-top: var(--pix-spacing-4x);
    }
  }
}

.certification-information-results {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
}

.certification-information-global-actions {
  display: flex;
  gap: var(--pix-spacing-2x);
  justify-content: center;
}
